<a href="https://colab.research.google.com/github/marissameadows0/BDI-475-Project/blob/main/BDI_475_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import plotly
import plotly.express as px
import plotly.graph_objects as go

I have picked the world happiness dataset simply because I thought it seemed interesting and I liked the variables they used to measure it, such as social support, life expectancy, freedom, and generosity.

## Variable ranges:

**Score**- The scores are based on answers to the main life evaluation question asked in the poll. This question, known as the Cantril ladder, asks respondents to think of a ladder with the best possible life for them being a 10 and the worst possible life being a 0 and to rate their own current lives on that scale. Ranges from 2.9 to 7.63 in this dataset- although 5 is still considered the middle score

**GDP**- ranges from 0 to 2.1

**Social Support**- ranges from 0 to 1.64

**Healthy Life Expectancy**- ranges from 0 to 1.03

**Freedom to Make Life Choices**- ranges from 0 to 0.72

**Generosity**- ranges from 0 to 0.6

**Perceptions of corruption** means the absence of government corruption, higher scores are better

The following columns: GDP per Capita, Family, Life Expectancy, Freedom, Generosity, Trust Government Corruption **describe the extent to which these factors contribute in evaluating the happiness in each country.**

# Questions:
1. What are the top 20 countries that have the highest healthy life expectancy in 2019? in 2018?
2. Are the countries that have the highest social support scores also the countries that have the highest healthy life expectancy scores?
3. What are the 10 countries that have the highest perceptions of corruption?
4. What is the average perception of corruption in 2019 and in 2018?
5. How many countries have a score over 5 (the middle score a country can have)? How many more or less are there from 2018 to 2019?
6. Does the average scores across the board increase or decrease from year to year?

In [2]:
df=pd.read_csv('https://github.com/marissameadows0/BDI-475-Project/raw/main/2018.csv')

In [3]:
df
#this dataset is happiness scores from 2018

     Overall rank  ... Perceptions of corruption
0               1  ...                     0.393
1               2  ...                     0.340
2               3  ...                     0.408
3               4  ...                     0.138
4               5  ...                     0.357
..            ...  ...                       ...
151           152  ...                     0.064
152           153  ...                     0.097
153           154  ...                     0.106
154           155  ...                     0.038
155           156  ...                     0.076

[156 rows x 9 columns]

In [4]:
df2=pd.read_csv('https://github.com/marissameadows0/BDI-475-Project/raw/main/2019.csv')

In [5]:
df2
#this dataset is happiness scores from 2019

     Overall rank  ... Perceptions of corruption
0               1  ...                     0.393
1               2  ...                     0.410
2               3  ...                     0.341
3               4  ...                     0.118
4               5  ...                     0.298
..            ...  ...                       ...
151           152  ...                     0.411
152           153  ...                     0.147
153           154  ...                     0.025
154           155  ...                     0.035
155           156  ...                     0.091

[156 rows x 9 columns]

In [6]:
num_rows= df.shape[0]
num_cols=df.shape[1]

In [7]:
num_rows

156

In [8]:
num_cols

9

In [9]:
num_rows2= df2.shape[0]
num_cols2=df2.shape[1]

In [10]:
num_rows2

156

In [11]:
num_cols2

9

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [14]:
df.head()

   Overall rank Country or region  ...  Generosity  Perceptions of corruption
0             1           Finland  ...       0.202                      0.393
1             2            Norway  ...       0.286                      0.340
2             3           Denmark  ...       0.284                      0.408
3             4           Iceland  ...       0.353                      0.138
4             5       Switzerland  ...       0.256                      0.357

[5 rows x 9 columns]

In [15]:
df2.head()

   Overall rank Country or region  ...  Generosity  Perceptions of corruption
0             1           Finland  ...       0.153                      0.393
1             2           Denmark  ...       0.252                      0.410
2             3            Norway  ...       0.271                      0.341
3             4           Iceland  ...       0.354                      0.118
4             5       Netherlands  ...       0.322                      0.298

[5 rows x 9 columns]

In [16]:
df.tail()

     Overall rank  ... Perceptions of corruption
151           152  ...                     0.064
152           153  ...                     0.097
153           154  ...                     0.106
154           155  ...                     0.038
155           156  ...                     0.076

[5 rows x 9 columns]

In [17]:
df2.tail()

     Overall rank  ... Perceptions of corruption
151           152  ...                     0.411
152           153  ...                     0.147
153           154  ...                     0.025
154           155  ...                     0.035
155           156  ...                     0.091

[5 rows x 9 columns]

In [18]:
df.sample(8)

     Overall rank Country or region  ...  Generosity  Perceptions of corruption
131           132  Congo (Kinshasa)  ...       0.197                      0.052
136           137             Sudan  ...       0.134                      0.082
18             19            Israel  ...       0.354                      0.272
17             18     United States  ...       0.291                      0.133
98             99          Cameroon  ...       0.183                      0.043
152           153          Tanzania  ...       0.270                      0.097
149           150             Syria  ...       0.376                      0.144
125           126        Mauritania  ...       0.134                      0.093

[8 rows x 9 columns]

In [19]:
df.sort_values("Perceptions of corruption").head(10)
#these are the countries from 2018 that have the highest perceptions of corruption

     Overall rank  ... Perceptions of corruption
92             93  ...                     0.000
66             67  ...                     0.000
51             52  ...                     0.001
49             50  ...                     0.006
99            100  ...                     0.009
137           138  ...                     0.011
38             39  ...                     0.014
76             77  ...                     0.017
95             96  ...                     0.018
37             38  ...                     0.019

[10 rows x 9 columns]

In [20]:
df2.sort_values("Perceptions of corruption").head(10)
#these are the top 10 countries from 2019 that have the highest levels of corruption

     Overall rank  ... Perceptions of corruption
70             71  ...                     0.000
96             97  ...                     0.004
47             48  ...                     0.005
45             46  ...                     0.006
77             78  ...                     0.006
132           133  ...                     0.010
37             38  ...                     0.014
38             39  ...                     0.016
61             62  ...                     0.020
74             75  ...                     0.022

[10 rows x 9 columns]

In [21]:
df.sort_values('Social support').tail(20)
#top 20 countries for social support in 2018

    Overall rank Country or region  ...  Generosity  Perceptions of corruption
93            94          Mongolia  ...       0.253                      0.032
16            17        Luxembourg  ...       0.196                      0.321
63            64          Paraguay  ...       0.162                      0.074
21            22             Malta  ...       0.376                      0.142
49            50         Lithuania  ...       0.026                      0.006
6              7            Canada  ...       0.321                      0.291
62            63           Estonia  ...       0.086                      0.174
67            68      Turkmenistan  ...       0.199                      0.037
38            39          Slovakia  ...       0.118                      0.014
35            36             Spain  ...       0.142                      0.074
4              5       Switzerland  ...       0.256                      0.357
18            19            Israel  ...       0.354                      0.272
9             10         Australia  ...       0.361                      0.302
1              2            Norway  ...       0.286                      0.340
13            14           Ireland  ...       0.307                      0.306
43            44        Uzbekistan  ...       0.328                      0.259
2              3           Denmark  ...       0.284                      0.408
0              1           Finland  ...       0.202                      0.393
7              8       New Zealand  ...       0.365                      0.389
3              4           Iceland  ...       0.353                      0.138

[20 rows x 9 columns]

In [22]:
df.sort_values('Healthy life expectancy').tail(20)
#top 20 countries for healthy life expectancy in 2018

    Overall rank Country or region  ...  Generosity  Perceptions of corruption
21            22             Malta  ...       0.376                      0.142
76            77          Portugal  ...       0.055                      0.017
10            11    United Kingdom  ...       0.262                      0.082
11            12           Austria  ...       0.242                      0.224
15            16           Belgium  ...       0.188                      0.240
6              7            Canada  ...       0.321                      0.291
16            17        Luxembourg  ...       0.196                      0.321
22            23            France  ...       0.098                      0.176
57            58   Northern Cyprus  ...       0.179                      0.154
60            61            Cyprus  ...       0.202                      0.035
9             10         Australia  ...       0.361                      0.302
8              9            Sweden  ...       0.285                      0.383
3              4           Iceland  ...       0.353                      0.138
4              5       Switzerland  ...       0.256                      0.357
46            47             Italy  ...       0.137                      0.028
56            57       South Korea  ...       0.175                      0.051
35            36             Spain  ...       0.142                      0.074
53            54             Japan  ...       0.079                      0.150
33            34         Singapore  ...       0.261                      0.457
75            76         Hong Kong  ...       0.246                      0.291

[20 rows x 9 columns]

In [23]:
df_support_life_expectancy = df[(df['Social support']>= 1.517) & (df['Healthy life expectancy']>= 0.884)]
df_support_life_expectancy
#of the top 20 countries in social support and the top 20 countries in healthy life expectancy for 2018, 7 of them are the same
#I wanted to see if these are correlated and since we did not do many things in python with regression analysis, this was the only way 
#I could see if there were any similarities

    Overall rank Country or region  ...  Generosity  Perceptions of corruption
3              4           Iceland  ...       0.353                      0.138
4              5       Switzerland  ...       0.256                      0.357
6              7            Canada  ...       0.321                      0.291
9             10         Australia  ...       0.361                      0.302
16            17        Luxembourg  ...       0.196                      0.321
21            22             Malta  ...       0.376                      0.142
35            36             Spain  ...       0.142                      0.074

[7 rows x 9 columns]

In [24]:
df2.sort_values('Social support').tail(20)
#top 20 countries for social support in 2019

    Overall rank Country or region  ...  Generosity  Perceptions of corruption
8              9            Canada  ...       0.285                      0.308
59            60        Kazakhstan  ...       0.146                      0.096
96            97          Bulgaria  ...       0.081                      0.004
41            42         Lithuania  ...       0.043                      0.042
21            22             Malta  ...       0.375                      0.151
4              5       Netherlands  ...       0.322                      0.298
43            44          Slovenia  ...       0.144                      0.057
5              6       Switzerland  ...       0.263                      0.343
54            55           Estonia  ...       0.103                      0.161
40            41        Uzbekistan  ...       0.322                      0.240
82            83          Mongolia  ...       0.235                      0.038
86            87      Turkmenistan  ...       0.244                      0.028
14            15    United Kingdom  ...       0.348                      0.278
10            11         Australia  ...       0.332                      0.290
15            16           Ireland  ...       0.298                      0.310
7              8       New Zealand  ...       0.330                      0.380
1              2           Denmark  ...       0.252                      0.410
2              3            Norway  ...       0.271                      0.341
0              1           Finland  ...       0.153                      0.393
3              4           Iceland  ...       0.354                      0.118

[20 rows x 9 columns]

In [25]:
df2.sort_values('Healthy life expectancy').tail(20)
#top 20 countries for healthy life expectancy in 2019

    Overall rank Country or region  ...  Generosity  Perceptions of corruption
81            82            Greece  ...       0.000                      0.034
6              7            Sweden  ...       0.267                      0.373
13            14        Luxembourg  ...       0.194                      0.316
9             10           Austria  ...       0.244                      0.226
7              8       New Zealand  ...       0.330                      0.380
3              4           Iceland  ...       0.354                      0.118
2              3            Norway  ...       0.271                      0.341
12            13            Israel  ...       0.261                      0.082
53            54       South Korea  ...       0.175                      0.056
10            11         Australia  ...       0.332                      0.290
8              9            Canada  ...       0.285                      0.308
35            36             Italy  ...       0.158                      0.030
48            49            Cyprus  ...       0.190                      0.041
63            64   Northern Cyprus  ...       0.191                      0.162
23            24            France  ...       0.111                      0.183
5              6       Switzerland  ...       0.263                      0.343
29            30             Spain  ...       0.153                      0.079
57            58             Japan  ...       0.069                      0.140
75            76         Hong Kong  ...       0.258                      0.287
33            34         Singapore  ...       0.271                      0.453

[20 rows x 9 columns]

In [26]:
df2_support_life_expectancy = df2[(df2['Social support']>= 1.505) & (df2['Healthy life expectancy']>= 0.999)]
df2_support_life_expectancy
#of the top 20 countries in social support and the top 20 in healthy life expectancy in 2019, 9 are the same

    Overall rank Country or region  ...  Generosity  Perceptions of corruption
2              3            Norway  ...       0.271                      0.341
3              4           Iceland  ...       0.354                      0.118
4              5       Netherlands  ...       0.322                      0.298
5              6       Switzerland  ...       0.263                      0.343
7              8       New Zealand  ...       0.330                      0.380
8              9            Canada  ...       0.285                      0.308
10            11         Australia  ...       0.332                      0.290
15            16           Ireland  ...       0.298                      0.310
21            22             Malta  ...       0.375                      0.151

[9 rows x 9 columns]

In [27]:
averagedf=df['Score'].mean()
averagedf

5.375916666666668

In [28]:
averagedf2=df2['Score'].mean()
averagedf2

5.407096153846153

In [29]:
(averagedf2-averagedf)/averagedf
#the average happiness score increased by 0.57998% from 2018 to 2019

0.005799845703117615

In [30]:
df['Above or below 5'] = np.where(df['Score']> 5 , 'above', 'below')
df
#although the average happiness score in the dataset is a little bit above 5, I wanted to seperate the dataset into above and below 5, which is the middle score a country can get
#I did this to be able to use the groupby function, and simply to see how many countries are considered above and below average happiness

     Overall rank  ... Above or below 5
0               1  ...            above
1               2  ...            above
2               3  ...            above
3               4  ...            above
4               5  ...            above
..            ...  ...              ...
151           152  ...            below
152           153  ...            below
153           154  ...            below
154           155  ...            below
155           156  ...            below

[156 rows x 10 columns]

In [31]:
df2['Above or below 5'] = np.where(df2['Score']> 5 , 'above', 'below')
df2

     Overall rank  ... Above or below 5
0               1  ...            above
1               2  ...            above
2               3  ...            above
3               4  ...            above
4               5  ...            above
..            ...  ...              ...
151           152  ...            below
152           153  ...            below
153           154  ...            below
154           155  ...            below
155           156  ...            below

[156 rows x 10 columns]

In [32]:
dftable= df.groupby('Above or below 5').agg({
    'Overall rank': 'count', 
    'GDP per capita': 'mean',
    'Social support': 'mean',
    'Healthy life expectancy':'mean',
    'Freedom to make life choices': 'mean',
    'Generosity': 'mean',
    'Perceptions of corruption': 'mean'
})
dftable
#here I was able to find the differences between the above 5 and below 5 group, but even more helpful is the table below so we can compare how things have changed from 2018 to 2019

                  Overall rank  ...  Perceptions of corruption
Above or below 5                ...
above                       97  ...                   0.124521
below                       59  ...                   0.091627

[2 rows x 7 columns]

In [33]:
df2table= df2.groupby('Above or below 5').agg({
    'Overall rank': 'count', 
    'GDP per capita': 'mean',
    'Social support': 'mean',
    'Healthy life expectancy':'mean',
    'Freedom to make life choices': 'mean',
    'Generosity': 'mean',
    'Perceptions of corruption': 'mean'
})
df2table
#here it looks like the count of above and below 5 is the same from 2018, which surprised me as that means it is either a coincidence or there is something I am not understanding about the score variable
#it looks like the wealth gap has widened (unsurprisingly) GDP has increased for the "above average" countries and decreased for below average countries
#This gap widening is the same for social support
#healthy life expectancy has increased for both above and below 5 (yay)
#freedom to make life choices has decreased for both
#generosity also increased across the board (yay again)
#the gap between perceptions/absence of corruption is narrowing (high scores are better), it got worse for above 5 and better for below 5

                  Overall rank  ...  Perceptions of corruption
Above or below 5                ...
above                       97  ...                   0.120134
below                       59  ...                   0.094932

[2 rows x 7 columns]

In [34]:
fig = px.bar(
    df,
    title='Healthy life expectancy visual per country for 2018',
    x='Country or region',
    y='Healthy life expectancy',
    width=1000,
    height=500,
    template='plotly_dark',
    color='Healthy life expectancy',
    color_continuous_scale=['White', 'Yellow']
)
fig.show()
#since you cant see all the rows of data, I thought it would be interesting to see in a visual the healthy life expectancy scores
#the countries are in order by their happiness rank. It interested me that portugal's was so high

In [35]:
fig = px.bar(
    df2,
    title='GDP visual per country for 2019',
    x='Country or region',
    y='GDP per capita',
    width=1000,
    height=500,
    template='plotly_dark',
    color='GDP per capita',
    color_continuous_scale=['White', 'Yellow']
)
fig.show()

#This is the same as the last visual but for GDP this time. the study showed GDP and healthy life expectancy affecting happiness the most, so I wanted to narrow in on these two variables
#this one is definitely more downward sloping than healthy life expectancy, telling me that GDP may be more closely related to the happiness score

In [36]:
fig = px.pie(
    df,
    names='Above or below 5',
    title='country score breakdown',
    width=800,
    height=700
)

fig.show()
# this is a very simple visual but I wanted to show the percentages of countries that are considered above and below an average happiness score of 5